.button--mpassid{

  .button--social__icon{
    width: 48px;

    svg.mpass{
      fill: inherit;
      width: inherit;
      height: inherit;
      max-width: 42px;
      max-height: 42px;
      position: relative;
      bottom: 11px;
      right: 11px;

      &.icon--mpassid{
        > use{
          display: none;
        }
      }
    }

    svg.mpassc{
      fill: inherit;
      width: inherit;
      height: inherit;
      max-width: 42px;
      max-height: 42px;
      position: relative;
      bottom: 9px;
      right: 11px;

      &.icon--mpassid{
        > use{
          display: none;
        }
      }
    }
  }

  &.button--social--mini{
    .button--social__icon{
      font-size: 0;
      min-width: auto;
      padding: 0;

      svg.icon{
        margin: 1px;
      }
    }
  }
}
